*{  
    background-image: url(https://elements-resized.envatousercontent.com/elements-video-cover-images/c8b55f91-84db-44f7-91c6-e3fee62be40b/video_preview/video_preview_0000.jpg?w=500&cf_fit=cover&q=85&format=auto&s=d28eccb9bc7e638b992503cc1864535814018d30655273e15620f8ca581e57b8);
    list-style: none;
    color: aliceblue;
    }
header{
    text-align: center;
}
.menu-horizontal{
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
    justify-content: center;
}
nav ul li a {
    color: #7fffd4;
    font-weight: bold ;
    text-decoration: none;

}
